body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Roboto;
  color: rgb(0, 0, 0);
}

.anchor1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 31px;
  margin: 0 auto;
  overflow: hidden;
}

.anchor2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 31px;
  margin: 0 auto;
  overflow: hidden;
}

.anchorsend1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  height: 30px;
  margin: auto;
  overflow: hidden;
}

.container {
  position: relative;
  float: left;
  width: 90%;
  height: 40px;
  margin-left: 5%;
}

.container .element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: auto 0;
  border-radius: 100px;
  background-color: #4caf50;
}

.eerstechat {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 90%;
  height: 1188px;
  margin-left: 5%;
}

.eerstechat .image1 {
  top: 83px;
  z-index: 3;
  background-image: url('../images/Whatsapp_main_blank.png');
}

.eerstechat .line {
  z-index: 7;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #4caf50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header .element {
  float: left;
  width: 56px;
  height: 50px;
  background-image: url('../images/Arrow.png');
  background-repeat: no-repeat;
  background-size: 45% 75%;
  background-position: 30% 50%;
}

.header .element:active {
  background-position: left center;
  background-color: #2e7d32;
}

.header .text {
  top: 8px;
  left: 0;
  right: 0;
  z-index: 20;
  width: 33.3333333333%;
  min-height: 22px;
  margin: 0 auto;
  font-size: 1.313em;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.image1 {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  height: 386px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.image2 {
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 75%;
  height: 386px;
  margin: 0 auto;
  background-image: url('../images/Whatsapp_main_contactselect_add.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #4caf50;
}

.setup {
  position: relative;
  float: left;
  clear: both;
  width: 90%;
  margin-left: 5%;
}

.setup .image1 {
  background-image: url('../images/Whatsapp_chat_blank.png');
}

.eerstechat .text,
.setup .text {
  color: rgb(0, 0, 0);
}

.text {
  position: absolute;
}

.top {
  position: relative;
  float: left;
  z-index: 19;
  width: 100%;
  height: 239px;
  margin-top: 50px;
}

.wrapper {
  float: left;
  clear: both;
  width: 90%;
  height: 42px;
  margin: 54px 0 0 5%;
  overflow: hidden;
}

.anchor2-1 {
  z-index: 23;
}

.anchor2-2 {
  z-index: 30;
}

.anchorsend1-1 {
  z-index: 10;
}

.anchorsend1-2 {
  z-index: 13;
}

.anchorsend1-3 {
  z-index: 17;
}

.container-1 {
  margin-top: 23px;
}

.container-2,
.container-3 {
  clear: both;
}

.element-2 {
  z-index: 9;
}

.element-3 {
  z-index: 12;
}

.element-4 {
  z-index: 16;
}

.element-5 {
  position: fixed;
  bottom: 20px;
  right: 4.7265625%;
  z-index: 37;
  width: 11.3888888888%;
  min-width: 41px;
  max-width: 41px;
  height: 41px;
  min-height: 41px;
  max-height: 41px;
  border-radius: 10px;
  background: url('../images/Arrow_UP.png') #333333;
  background-repeat: no-repeat;
  background-size: 70% 30%;
  background-position: center center;
}

.image1-2 {
  top: 164px;
  z-index: 26;
}

.image1-3 {
  top: 129px;
  z-index: 33;
}

.line-2 {
  z-index: 27;
}

.line-3 {
  z-index: 34;
}

.setup-1 {
  z-index: 29;
  height: 813px;
}

.setup-2 {
  z-index: 36;
  height: 724px;
}

.text-10 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 32;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-11 {
  top: 0;
  left: 12.6543209876%;
  z-index: 31;
  width: 75.3086419753%;
  min-height: 26px;
  font-size: 1.125em;
  font-weight: 700;
}

.text-2 {
  top: 941px;
  left: 0;
  right: 0;
  z-index: 6;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-3 {
  top: 479px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-4 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-5 {
  top: 0;
  left: 12.6543209876%;
  z-index: 1;
  width: 75.3086419753%;
  min-height: 26px;
  font-size: 1.125em;
  font-weight: 700;
}

.text-6 {
  top: 557px;
  left: 0;
  right: 0;
  z-index: 28;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-7 {
  top: 26px;
  left: 0;
  right: 0;
  z-index: 25;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text-8 {
  top: 0;
  left: 12.6543209876%;
  z-index: 24;
  width: 75.3086419753%;
  min-height: 26px;
  font-size: 1.125em;
  font-weight: 700;
}

.text-9 {
  top: 515px;
  left: 0;
  right: 0;
  z-index: 35;
  width: 75%;
  min-height: 138px;
  margin: 0 auto;
  font-size: 1em;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}